/***    General     ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

a {
  color: black;
}

.m-5-auto {
  margin: 5rem auto;
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  padding: 0.6rem;
  width: 6rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: capitalize;
}

.logo {
  display: block;
  margin: auto;
  padding-top: 20px;
}

.main-title {
  color: #222;
}

.main-title {
  padding-top: 7rem;
  font-size: 5rem;
  font-family: "Fascinate", cursive;
  text-transform: uppercase;
}

.main-para {
  font-size: 2.5rem;
  text-transform: capitalize;
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300;
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
}

form label {
  float: left;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.right-label {
  float: right;
  cursor: pointer;
}

input {
  width: 15rem;
  padding: 0.3rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

#sub_btn {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all 0.5s;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

/***    Register Page     ***/
#checkbox {
  width: 1rem;
}

form span {
  font-size: 0.8rem;
}

#reset_pass_lbl {
  float: left;
}

/***    Home Page     ***/
.home-page-title {
  color: #222;
  padding-top: 2rem;
  font-size: 4rem;
  font-family: "Fascinate", cursive;
  text-transform: uppercase;
}

.home-page-subtitle {
  color: #222;
  padding-top: 2rem;
  font-family: "Fascinate", cursive;
  text-transform: uppercase;
}

.button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: 0.6rem;
  width: 11rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: capitalize;
}

.balance {
  margin: auto;
}

.balanceButtons {
  margin: 10px;
  width: 300px;
  background-color: white;
}

.round-btn {
  margin-top: 6%;
  background: rgb(45, 45, 95);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  text-align: center;
  position: relative;
  left: 22%;
  vertical-align: top;
}

.round-btn2 {
  margin-top: 15%;
  background: rgb(45, 45, 95);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  text-align: center;
  position: relative;
  left: 30%;
  vertical-align: top;
}

@media (min-width: 768px) {
  .round-btn2 {
    margin-top: 15%;
    background: rgb(45, 45, 95);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    text-align: center;
    position: relative;
    left: 30%;
    vertical-align: top;
  }

  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fraction*/
  }

  .caption {
    margin-top: -20%;
    color: white;
  }

  .small {
    font-size: initial;
    margin-top: -20%;
    color: white;
  }
}

@media (max-width: 768px) {
  .caption2 {
    color: white;
    padding-left: 17%;
  }

  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fraction*/
  }

  .round-btn {
    margin-top: 8%;
    width: 150px;
    height: 150px;
    display: flex;
    left: 5%;
  }

  .round-btn2 {
    width: 250px;
    height: 250px;
    display: flex;
    left: 10%;
    margin-top: 15%;
    background: rgb(45, 45, 95);
    border-radius: 50%;
    align-items: center;
    text-align: center;
    position: relative;
    vertical-align: top;
  }

  .icon {
    margin-left: 45px;
    margin-bottom: 20px;
    vertical-align: middle;
    border-style: none;
  }

  .small {
    font-size: initial;
    margin-right: 20px;
    color: rgb(45, 45, 95);
    margin-bottom: -240px;
    position: absolute;
  }

  .caption {
    color: rgb(45, 45, 95);
    margin-bottom: -240px;
    position: absolute;
    margin-left: 25px;
  }
}

@media (max-width: 550px) {
  .caption2 {
    text-align: center;
    padding-left: 25%;
  }

  .round-btn2 {
    width: 80%;
    height: 110px;
    display: flex;
    left: 25%;
    margin-left: -60px;
    background: rgb(45, 45, 95);
    border-radius: 5%;
    align-items: center;
    text-align: center;
    position: relative;
    vertical-align: top;
  }

  .round-btn {
    margin-top: 18%;
    background: rgb(45, 45, 95);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .container2 {
    margin-top: 25%;
    display: block;
  }

  .container {
    margin-top: 20px;
  }

  .small {
    font-size: initial;
    margin-right: 20px;
    color: rgb(45, 45, 95);
    margin-bottom: -186px;
    position: absolute;
  }

  .caption {
    color: rgb(45, 45, 95);
    margin-bottom: -186px;
    position: absolute;
    margin-left: 15px;
  }

  .icon {
    margin-left: 6.5mm;
    vertical-align: middle;
    border-style: none;
  }

  .home-page-title {
    display: none;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}

.icon {
  margin-top: 15%;
}

.caption2 {
  color: white;
}

/* Dark theme button  */
* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  height: 10vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #292c35;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

.active-link {
  color: mediumblue;
}

.otp-style {
  font-size: 30pt;
  margin: 10px;
}

.otp-btn {
  border: none;
}

.otp-btn:hover {
  text-decoration: underline;
  color: blue;
}

/* country code */

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.tel-box {
  display: flex;
}

.select-box {
  margin: 1rem;
  width: 60px;
  height: 40px;
}

.flag-img {
  width: 60px;
  height: 40px;
  position: absolute;
  border-radius: 5px;
}

.select-box select {
  font-family: "Lato", sans-serif;
  width: 85px;
  height: 40px;
  background: none;
  position: relative;
  border: none;
  font-size: 1rem;
  padding-left: 4rem;
  outline: none;
  border-radius: 5px;
}

.tel {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 40px;
  background: white;
  outline: none;
  margin: 1rem;
  font-size: 1rem;
  padding-left: 1.5rem;
  color: black;
  font-weight: thick;
  border-radius: 5px;
}

.output {
  margin: 1rem;
  margin-top: 0;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-self: center;
}

.result {
  font-family: "Source Code Pro", monospace;
  width: auto;
  padding: 0.25rem;
  border-radius: 5px;
  height: 30px;
  background-color: pink;
  color: red;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.password-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.qr-code {
  margin-top: 20%;
}
